example/generated/xsd/claim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:claim="http://example.org/claim/1/"
           xmlns:structures="http://release.niem.gov/niem/structures/4.0/"
           xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/"
           targetNamespace="http://example.org/claim/1/"
           ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument"
           version="1">
   <xs:annotation>
      <xs:documentation>A data model for an insurance claim.</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/"/>
   <xs:import namespace="http://release.niem.gov/niem/structures/4.0/"/>
   <xs:element name="Claim" type="claim:ClaimType" nillable="true">
      <xs:annotation>
         <xs:documentation>An insurance claim resulting from an auto crash.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ClaimType">
      <xs:annotation>
         <xs:documentation>A data type for an insurance claim.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="structures:ObjectType">
            <xs:sequence>
               <xs:element ref="claim:DamagedVehicle" minOccurs="1" maxOccurs="1"/>
               <xs:element ref="claim:ClaimAugmentationPoint"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ClaimAugmentationPoint" abstract="true">
      <xs:annotation>
         <xs:documentation>An augmentation point for claim:ClaimType.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DamagedVehicle" type="nc:VehicleType" nillable="true">
      <xs:annotation>
         <xs:documentation>A vehicle that has sustained damage.</xs:documentation>
      </xs:annotation>
   </xs:element>
</xs:schema>
